@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 700px){
    main{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 70%;
    }
    .shadow{
        display: none;
    }
    .img-home{
        background-image: url('imagens/Jellal_fernandes_render_by_annaeditions24-d6kl1bk.png');

        width: 300px; 
        height: 300px;
        translate: 0% -50%;
    }
    .info-home{
        translate: 0% 0%;
    }
    .btn-open-project-conteiner{
        bottom: -80%;
    }
    .projetos-conteiner{
        display: none;
       justify-content: center;
        top: 20%;
        left: 0%;
        margin-top: 170px;
        padding-top: 70px;
    }
    .border-circulo{
        top: -15%;
        left: -15%;
    }
    .border-ponta1{
        top: -55%;
        left: 90%;
    }
    .border-ponta2{
        top: 33.5%;
        left: 90%;
    }
    .border-ponta3{
        top: 0%;
        left: -15%;
    }
    .projeto{
        width: 400px;
        height: 300px;
    }
    .imgprojeto{
        width: 250px;
    }
}
@media screen and (min-width: 320px) and (max-width: 400px){
    ::-webkit-scrollbar{
        display: none;
    }
    .switch-button{
        scale: 1.4;
    }
    #btndown{
        scale: 1.2;
    }
    main{
        top: 60%;

    }
    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 14em;
        }
    }
    .img-home{
        translate: 0% -40%;
    }
    .info-home{
        width: 0px;
    }
    .perfil-conteiner{
        scale: 0.7;
        font-size: 1.3em;
    }
    .infoperfil{
        width: 180px;
        height: 200px;
    }
    .style-conteiner{
        width: 300px;
    }
    .border-circulo{
        top: -20%;
        left: -20%;
    }
    .border-ponta1{
        top: -55%;
        left: 84%;
    }
    .border-ponta2{
        top: 33.5%;
        left: 84%;
    }
    .border-ponta2::after{
        display: none;
    }
    .border-ponta2::before{
        display: none;
    }
    .border-ponta3{
        top: 0%;
        left: -24%;
    }
    .projetos-conteiner{
        left: 0%;
        width: 100vw;
        margin-top:180px;
        padding-top: 80px;
    }
    .projeto{
        width: 300px;
    }
    .btn-info{
        height: 25px;
        border: 2px solid #48cae4;
        scale: 0.9;
    }
    .infoprojeto{
        position: absolute;
        top: -8%;
        left: 30%;
        width: 150px;
    }
    .infoprojeto>ul{
        position: absolute;
        top: 0%;
        left: -40%;
        display: none;
        padding: 15px;
        border: 1px solid #48cae4;
        background-color: #0095c72c;
    }
    .htmlpercentage::before{
        top: 17%;
        left: 2%;
    }
    .csspercentage::before{
        top: 48%;
        left: 2%;
    }
    .jspercentage::before{
        top: 78%;
        left: 2%;
    }
    .infoprojeto>p{
        position: absolute;
        top: 0%;
        left: -40%;
        padding: 10px;
        border: 1px solid #48cae4;
        background-color: #0095c72c;
    }
    .links{
        top: 115%;
        left: -20%;
    }
    .btnprojeto{
        border: 2px solid #48cae4;
        width: 85px;
        padding-bottom: 20px;
    }
    .visibility{
        border-radius: 0px 0px 0px 10px;
    }
}
@media screen and (min-width: 700px) and (max-width: 992px){
    .style-conteiner{
        width: 400px;
    }
    .border-circulo{
        top: -20%;
        left: -15%;
    }
    .border-ponta1{
        top: -55%;
        left: 88%;
    }
    .border-ponta2{
        top: 33.5%;
        left: 88%;
    }
    .border-ponta3{
        top: 0%;
        left: -16%;
    }
    .projetos-conteiner{
        left: 0%;
        width: 100vw;
        padding-top: 100px;
    }
    .projeto{
        width: 400px;
    }
    .btn-info{
        height: 25px;
        border: 2px solid #48cae4;
    }
    .imgprojeto{
        width: 300px;
        translate: 0% 6%;
    }
    .infoprojeto{
        position: absolute;
        top: -8%;
        left: 30%;
        width: 150px;
    }
    .infoprojeto>ul{
        position: absolute;
        top: 0%;
        left: -40%;
        display: none;
        padding: 15px;
        border: 1px solid #48cae4;
        background-color: #0095c72c;
    }
    .htmlpercentage::before{
        top: 17%;
        left: 2%;
    }
    .csspercentage::before{
        top: 48%;
        left: 2%;
    }
    .jspercentage::before{
        top: 78%;
        left: 2%;
    }
    .infoprojeto>p{
        position: absolute;
        top: 0%;
        left: -40%;
        padding: 10px;
        border: 1px solid #48cae4;
        background-color: #0095c72c;
    }
    .links{
        top: 115%;
        left: -20%;
    }
    .btnprojeto{
        border: 2px solid #48cae4;
        width: 85px;
        padding-bottom: 20px;
    }
    .visibility{
        border-radius: 0px 0px 0px 10px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1150px){
    .style-conteiner{
        width: 450px;
    }
    .projeto{
        width: 400px ;
    }
    .imgprojeto{
        width: 400px;
    }
    .border-circulo{
        top: -20%;
        left: -15%;
    }
    .border-ponta1{
        top: -55%;
        left: 90%;
    }
    .border-ponta2{
        top: 33.5%;
        left: 90%;
    }
    .border-ponta3{
        top: 0%;
        left: -15%;
    }

}
