@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 400px){
    .switch-button{
        scale: 1.4;
    }
    #btntop{
        scale: 1.2;
    }
    main{
        top: 60%;

    }
    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 12.8em;
        }
    }
    .projetos-conteiner{
        left: 10%;
    }
}
@media screen and (min-width: 320px) and (max-width: 700px){
    main{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 70%;
    }
    .shadow{
        display: none;
    }
    .img-home{
        background-image: url('imagens/Jellal_fernandes_render_by_annaeditions24-d6kl1bk.png');

        width: 300px; 
        height: 300px;
        translate: 0% -50%;
    }
    .info-home{
        translate: 0% 0%;
    }
    .btn-open-project-conteiner{
        bottom: -80%;
    }
    .style-conteiner{
        width: 500px;
    }
    .projetos-conteiner{
        display: none;
       justify-content: center;
        top: 20%;
        left: 0%;
        margin-top: 150px;
    }
    .border-circulo{
        top: -15%;
        left: -15%;
    }
    .border-ponta1{
        top: -55%;
        left: 90%;
    }
    .border-ponta2{
        top: 34%;
        left: 90%;
    }
    .border-ponta3{
        top: 0%;
        left: -15%;
    }
    .projeto{
        width: 400px;
        height: 300px;
    }
    .imgprojeto{
        width: 250px;
    }
}
@media screen and (min-width: 700px) and (max-width: 992px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .img-home{
        width: 500px; 
        margin: 50px 0;
    }
    .projetos-conteiner{
        display: flex;
       justify-content: center;
        top: 20%;
        left: 5%;
    }
    .projeto{
        width: 600px ;
    }
    .imgprojeto{
        width: 600px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1150px){
    .projeto{
        width: 400px ;
    }
    .imgprojeto{
        width: 400px;
    }

}
